@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.content__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  font-size: 1.25vw;
}
